<html>
<head>
<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<title>Tracking of women</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    
    
    
    <link rel="stylesheet" href="demo.css">
	<link rel="stylesheet" href="header-login-signup.css">
	<link href='http://fonts.googleapis.com/css?family=Cookie' rel='stylesheet' type='text/css'></head>
	<body>
	<header class="header-login-signup">

	<div class="header-limiter">

        <h1><b><a href="#">Ksha<span>mata</span></a></b></h1>
        <nav>
			<a href="home.html">Home</a>
			<a href="#">Blog</a>
		</nav>

	</div>

</header>
<div  align="center" style="padding-top:100px;" style="background-color:#eaf0f2;">

<div class="container" align="center" style="background-color:#eaf0f2;">
 <h2>Add a new record</h2>
<form>
<input type="text" name="name" class="form-control" placeholder="Your Name" required="" style="width:300px;"><br><br>

<input type="text" name="dob" class="form-control"  placeholder="Your Date of Birth" required="" style="width:300px;"><br><br>

<input type="text" name="cardno" class="form-control" placeholder="ID card no." required="" style="width:300px;"><br><br>

<input type="text" name="contact" class="form-control" placeholder="Your Contact no." required="" style="width:300px;"><br><br>

<input type="text" name="education" class="form-control" placeholder="Your Education" required="" style="width:300px;"><br><br>

<input type="text" name="vocationaltraining" class="form-control" placeholder="Vocational Training done" required="" style="width:300px;"><br><br>

<input type="text" name="background" class="form-control" placeholder="Your Background" required="" style="width:300px;"><br><br>

<input type="text" name="duration" class="form-control" placeholder="Duration you have been in that background" required=""style="width:300px;"><br><br>

<input type="text" name="skills" class="form-control" placeholder="Skills" required="" style="height:300px; width:300px;"><br><br>

<input type="text" name="levelofskills" class="form-control" placeholder="Levels of Skills" required="" style="width:300px;"><br><br>

<input type="integer" name="salary" class="form-control" placeholder="Current Salary" required="" style="width:300px;"><br><br>

<input type="text" name="location" class="form-control" placeholder="Current Location" required="" style="width:300px;"><br><br>

<input type="text" name="futureplans" class="form-control" textarea placeholder="Future Plans" required="" style="width:300px;"></textarea> <br><br>

<input type="text" name="remarks" class="form-control" placeholder="Remarks" required="" style="width:300px;"><br><br>

<button type="submit"  class="btn btn-lg btn-primary btn-block">Submit</button>

</center>